{% extends "private.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
	{{forms.new_begin("#{base_path}/shops","shopping-cart","Uusi kauppa", "#{base_path}/shops/new")}}
		{{forms.new_name()}}
	  	<div class="form-group">
	      	<div class="sub-title">Käyttöoikeudet</div>
	      	{% for group in usergroups %}
		   	<div>
		    	<input type="checkbox" name="group[]" value="{{group.id}}" /> {{group.name}}
		    </div>
		    {% endfor %}
	    </div>
	{{forms.new_end()}}
{% endblock %}