{% extends "private.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/messages.html" as messages %}
	{{forms.new_begin("#{base_path}/shops","shopping-cart","Uusi kauppa", "#{base_path}/shops/new")}}
		{% for error_message in errors %}
			{{messages.error("#{error_message}")}}
		{% endfor %}
		{{forms.new_name("#{attributes.name}")}}
	  	<div class="form-group">
	      	<div class="sub-title">Käyttöoikeudet</div>
	      	{% for group in usergroups %}
		   	<div>
		    	<input type="checkbox" name="group[]"{% if group.id in attributes.group %} checked="checked"{% endif %} value="{{group.id}}" /> {{group.name}}
		    </div>
		    {% endfor %}
	    </div>
	{{forms.new_end()}}
{% endblock %}