{% extends "private.html" %}
{% block content %}
{% import "macros/headers.html" as headers %}
            
            
            <!-- http://bootsnipp.com/snippets/featured/custom-search-input -->
			
			
                <div class="side-body padding-top">
					<div class="row">
				        <div class="col-md-6">
				            <div id="custom-search-input">
				                <div class="input-group col-md-12">
				                    <input type="text" class="form-control input-lg" placeholder="Hae..." />
				                    <span class="input-group-btn">
				                        <button class="btn btn-info btn-lg" type="button">
				                            <i class="glyphicon glyphicon-search"></i>
				                        </button>
				                    </span>
				                </div>
				            </div>
				        </div>
					</div>
					{{headers.category_title("Tuotteet", "red", "#{base_path}/products")}}
					{{headers.category_title("Ostoslistat", "yellow", "#{base_path}/shoppinglists")}}
					{{headers.category_title("Kaupat", "green", "#{base_path}/shops")}}
					{{headers.category_title("Ryhmät", "blue", "#{base_path}/groups")}}
                </div>
{% endblock %}