#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}



.close-ext-menu{
    padding: 20px;
    background-color: transparent;
    border: 0px;
    position: absolute;
    right: 0;
    cursor: pointer;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0.75;
}



.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}


div.card.summary-inline .add-new-item-link div.content{
	text-align: center;
	float: none;
}
div.card.summary-inline .add-new-item-link .content div.title{
	text-align: center;
}

ul.additional-list-info {
  display: inline;
  list-style: none;
  padding-left: 0;
}

ul.additional-list-info li {
  display: inline;
  padding-left: 0;
}

ul.additional-list-info li:after {
  content: ", ";
}

ul.additional-list-info li:last-of-type:after {
  content: "";
}
tr.old-shoppinglist-row td{
	background-color: #e5e5e5;
}
@media (max-width: 767px){
	div.card.summary-inline .card-body .title-content div.title{
	    text-align: left;
	}
	div.card.summary-inline .card-body div.title-content{
		float: left;
	}
}

.edit-toggle-hidden,
.add-toggle-hidden{
	display: none;
}

.edit-toggle-block,
.add-toggle-block{
	display: block;
}
.panel-table .panel-body .table-bordered > thead > tr > td.editor-column,
.panel-table .panel-body .table-bordered > thead > tr > th.editor-column {
    text-align: center;
    width: 100px;
}
.panel-table .panel-body .table-bordered > thead > tr > td.narrow-column,
.panel-table .panel-body .table-bordered > thead > tr > th.narrow-column {
    text-align: center;
    max-width: 100px;
}
td.editor-column button.save-inline-button:focus{
	outline: none;
}
.price-input{
	max-width: 180px;
}
.main-search-content p.h5{
	margin-top: 0;
	margin-bottom: 0;
}
div.main-search-content .panel-table .panel-body .table-bordered > tbody > tr > td{
	line-height: normal;
}


@media (max-width: 767px){
	div.card.summary-inline .card-body {
	    padding: 5px;
	}
	div.card.summary-inline .card-body .content .title {
	    font-size: 1.5em;
	}
	table.table>tbody>tr>td, 
	table.table>tbody>tr>th, 
	table.table>tfoot>tr>td, 
	table.table>tfoot>tr>th, 
	table.table>thead>tr>td, 
	table.table>thead>tr>th {
	    padding: 8px 2px 8px 2px;
	}
	div.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type {
	    text-align:center;
	    width: auto;
	    max-width: 80px;
	}
	div.panel-table .panel-body .table-bordered > thead > tr > td.editor-column,
	div.panel-table .panel-body .table-bordered > thead > tr > th.editor-column {
	    text-align: center;
	    width: auto;
	    max-width: 80px;
	}
	div.panel-table .panel-body .table-bordered > thead > tr > td.narrow-column,
	div.panel-table .panel-body .table-bordered > thead > tr > th.narrow-column {
	    text-align: center;
	    width: auto;
	    max-width: 80px;
	}
	input.input-lg {
	    height: 36px;
	    padding: 5px 2px;
	    font-size: 12px;
	    line-height: 1;
	}
}

/*http://bootsnipp.com/snippets/featured/alert-group*/
.alert-group>.alert:first-child:not(:last-child){
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
       -moz-border-radius-topleft:5px;
       -moz-border-radius-topright:5px;
       -moz-border-radius-bottomright:0;
       -moz-border-radius-bottomleft:0;
            border-top-left-radius:5px;
            border-top-right-radius:5px;
            border-bottom-right-radius:0;
            border-bottom-left-radius:0;
    margin-bottom:0
}
.alert-group>.alert:not(:first-child):not(:last-child){
    -webkit-border-radius:0;
       -moz-border-radius:0;
            border-radius:0;
    border-top:0;
    margin-bottom:0
}
.alert-group>.alert:last-child:not(:first-child){
    -webkit-border-top-left-radius:0;
    -webkit-border-top-right-radius:0;
    -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
       -moz-border-radius-topleft:0;
       -moz-border-radius-topright:0;
       -moz-border-radius-bottomright:5px;
       -moz-border-radius-bottomleft:5px;
            border-top-left-radius:0;
            border-top-right-radius:0;
            border-bottom-right-radius:5px;
            border-bottom-left-radius:5px;
    border-top:0
}