{% extends "private.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/headers.html" as headers %}
            <!-- http://bootsnipp.com/snippets/featured/custom-search-input -->
                <div class="side-body padding-top">
                	{{headers.category_title("Ostoslistat", "yellow", "#{base_path}/shoppinglists", "th-list")}}
					{{forms.filter()}}
					<!-- http://bootsnipp.com/snippets/featured/table-panel-with-pagination -->
					<div class="row">
				        <div class="col-xs-12">
				            <div class="panel panel-default panel-table">
				              <div class="panel-body">
				                <table class="table table-striped table-bordered table-list" id="dev-table">
				                  <thead>
				                    <tr>
				                        <th>Nimi</th>
				                        <th>Voimassa</th>
				                        <th class="hidden-xs"><em class="fa fa-cog"></em></th>
				                    </tr> 
				                  </thead>
				                  <tbody>
				                  		{% for shoppinglist in shoppinglists %}
				                          <tr class="{{shoppinglist.current}}">
				                            <td><p class="h5"><a href="{{base_path}}/shoppinglists/shoppinglist/{{shoppinglist.id}}" data-filter="target">{{shoppinglist.name}}</a></p></td>
				                            <td>{{shoppinglist.active_date}}</td>
				                            <td class="hidden-xs" align="center">
				                              <a href="{{base_path}}/shoppinglists/shoppinglist/{{shoppinglist.id}}?edit=true" class="btn btn-default"><em class="fa fa-pencil"></em></a>
				                              {{forms.remove("#{base_path}/shoppinglists/remove/#{shoppinglist.id}")}}
				                            </td>
				                          </tr>
										{% endfor %}
				                	</tbody>
				                </table>
				              </div>
				            </div>
						</div>
					</div>
                </div>
{% endblock %}