{% extends "private.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/buttons.html" as buttons %}
            	<div class="side-body padding-top">
                    {{buttons.header_new("Ostoslistat", "yellow", "#{base_path}/shoppinglists")}}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                
                                <div class="card-header">
									<div class=".col-xs-9 .col-md-7">
								    	<div class="card-title">
								        	<div class="title">{{shoppinglist.name}}, {{shoppinglist.active_date}}</div>
										</div>
								    </div>
								    {{buttons.header_edit()}}    
								</div>
								
                                <div class="card-body edit-toggle-hidden">
                                	<form action="#" method="post">
                                	<div class="form-group">
                                
                                    <div class="sub-title">Nimi</div>
                                    <div>
                                        <input type="text" class="form-control" value="{{shoppinglist.name}}" />
                                    </div>
                                    <div class="sub-title">Voimassa</div>
                                    <div>
                                    		<!-- Source: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
							                <div class='input-group date' id='datetimepicker1'>
							                    <input type='text' class="pickdatehere form-control" value="{{shoppinglist.active_date}}" />
							                    <span class="input-group-addon">
							                        <span class="glyphicon glyphicon-calendar"></span>
							                    </span>
							                </div>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                    	<button type="submit" class="btn btn-success">Tallenna</button>
                                    </div>
                                    
                                	</form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 edit-toggle-block">
                        	
                        </div>
                        
                        <div class="col-xs-12">
	                        <div class="pull-right">
	                        	{{forms.remove("#{base_path}/shoppinglists/shoppinglist/#{shoppinglist.id}/remove")}}
	                        </div>
                        </div>
                    </div>
                    
                    
                </div>
{% endblock %}