{% extends "private.html" %}
{% block content %}
            	<div class="side-body padding-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a href="#">
                                <div class="card yellow summary-inline">
                                    <div class="card-body">
                                        <i class="icon fa fa-th-list fa-4x"></i>
                                        <div class="content">
                                            <div class="title">Ostoslistat</div>
                                        </div>
                                        <div class="clear-both"></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Eväät 18. päivä</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                	<form action="#" method="post">
                                	<div class="form-group">
                                
                                    <div class="sub-title">Nimi</div>
                                    <div>
                                        <input type="text" class="form-control" value="Eväät 18. päivä" />
                                    </div>
                                    <div class="sub-title">Voimassa</div>
                                    <div>
                                    		<!-- Source: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
							                <div class='input-group date' id='datetimepicker1'>
							                    <input type='text' class="pickdatehere form-control" value="20.09.2016" />
							                    <span class="input-group-addon">
							                        <span class="glyphicon glyphicon-calendar"></span>
							                    </span>
							                </div>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                            <button type="submit" class="btn btn-default">Tallenna</button>
                                    </div>
                                    
                                	</form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            {% endblock %}