<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        Tietokantasovellus
      {% endblock %}
    </title>

    {% block head %}
      <!-- Bootstrap (tyylitiedosto) -->
      <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

      <!-- Oma tyylitiedostomme 
      <link href="{{base_path}}/assets/css/site.css" rel="stylesheet" />-->
      <link rel="stylesheet" href="{{base_path}}/assets/css/login.css" />
	  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
	  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css' />
      
    {% endblock %}
    
</head>
<body>

<!--  Source: http://bootsnipp.com/snippets/featured/custom-login-registration-amp-forgot-password -->
<div class="text-center" style="padding:50px 0">
	<div class="logo-image">my shopping list</div>
	<div class="logo">my shopping list<br />login</div>
	<!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left" method="post">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Username</label>
						<input type="text" class="form-control" id="lg_username" name="username" placeholder="username">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="lg_password" name="password" placeholder="password">
					</div>
					<div class="form-group login-group-checkbox">
						<input type="checkbox" id="lg_remember" name="lg_remember">
						<label for="lg_remember">remember</label>
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>forgot your password? <a href="{{base_path}}/forgotpass">click here</a></p>
				<p>new user? <a href="{{base_path}}/signup">create new account</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
<!--  Source: http://bootsnipp.com/snippets/featured/custom-login-registration-amp-forgot-password -->


      <!-- jQuery -->
      <script src="{{base_path}}/vendor/jquery.min.js"></script>

      <!-- Bootstrap (skriptitiedosto) -->
      <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

      <!-- Oma skriptitiedostomme -->
      <script src="{{base_path}}/assets/js/site.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
      
</body>
</html>