{% extends "public.html" %}
{% block content %}
{% import "macros/messages.html" as messages %}
	<div class="logo">Kauppavertailu<br />luo tunnus</div>
	<!-- Main Form -->
	<div class="login-form-1">
		{% for error_message in errors %}
			{{messages.error("#{error_message}")}}
		{% endfor %}
		<form id="register-form" class="text-left" action="{{base_path}}/signup/new" method="post">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="reg_username" class="sr-only">Etunimi</label>
						<input type="text" class="form-control" id="reg_first_name" name="first_name" value="{{attributes.first_name}}" placeholder="etunimi" />
					</div>
					<div class="form-group">
						<label for="reg_username" class="sr-only">Sukunimi</label>
						<input type="text" class="form-control" id="reg_last_name" name="last_name" value="{{attributes.last_name}}" placeholder="sähköpostiosoite" />
					</div>
					<div class="form-group">
						<label for="reg_username" class="sr-only">Sähköpostiosoite</label>
						<input type="text" class="form-control" id="reg_username" name="account" value="{{attributes.account}}" placeholder="sähköpostiosoite" />
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Salasana</label>
						<input type="password" class="form-control" id="reg_password" name="password" placeholder="salasana" />
					</div>
					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Salasana uudelleen</label>
						<input type="password" class="form-control" id="reg_password_confirm" name="password_check" placeholder="salasana uudelleen" />
					</div>
					
					<div class="form-group">
						<label for="reg_email" class="sr-only">Puhelin</label>
						<input type="text" class="form-control" id="reg_phone" name="phone" value="{{attributes.phone}}" placeholder="puhelin" />
					</div>
					<!-- 
					<div class="form-group login-group-checkbox">
						<input type="checkbox" class="" id="reg_agree" name="reg_agree">
						<label for="reg_agree">i agree with <a href="#">terms</a></label>
					</div>
					 -->
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
			</div>
			<div class="etc-login-form">
				<p>onko tunnus jo olemassa? <a href="{{base_path}}">kirjaudu</a></p>
			</div>
		</form>
	</div>
{% endblock %}