{% extends "private.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/headers.html" as headers %}
            	<div class="side-body padding-top">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                
                                <div class="card-header">
									<div class=".col-xs-9 .col-md-7">
								    	<div class="card-title">
								        	<div class="title"><a href="{{base_path}}/products"><span class="icon fa fa-barcode"></span></a> {{product.name}}</div>
										</div>
								    </div>
								    {% if visibility.editbutton %}
								    	{{headers.edit_button()}}  
								    {% endif %}    
								</div>
								
                                <div class="card-body edit-toggle-hidden">
                                	<form action="#" method="post">
	                                	<div class="form-group">
	                                
		                                    <div class="sub-title">Nimi</div>
		                                    <div>
		                                        <input type="text" class="form-control" value="{{product.name}}" />
		                                    </div>
	                                    </div>
	                                    {{forms.save_cancel_buttons()}}
	                                    
                                	</form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 edit-toggle-block">
                        	
                        </div>
                        
                        <div class="col-xs-12">
	                        <div class="pull-right">
	                        	{{forms.remove("#{base_path}/products/remove/#{product.id}")}}
	                        </div>
                        </div>
                    </div>
                    
                    
                </div>
{% endblock %}