{% extends "private.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
{% import "macros/buttons.html" as buttons %}
            	<div class="side-body padding-top">
                    {{buttons.header_new("Tuotteet", "red", "#{base_path}/products")}}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">{{product.name}}</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                	<form action="#" method="post">
                                	<div class="form-group">
                                
                                    <div class="sub-title">Nimi</div>
                                    <div>
                                        <input type="text" class="form-control" value="{{product.name}}" />
                                    </div>
                                    <!-- <div class="sub-title">Oletusyksikkö</div>
                                    <div>
                                        <select>
                                                <option>kpl</option>
                                                <option>l</option>
                                                <option>kg</option>
                                        </select>
                                    </div> -->
                                    </div>
                                    <div class="form-group">
                                    	<button type="submit" class="btn btn-success">Tallenna</button>
                                    </div>
                                    
                                	</form>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xs-12">
	                        <div class="pull-right">
	                        	{{forms.remove("#{base_path}/products/product/#{product.id}/remove")}}
	                        </div>
                        </div>
                    </div>
                    
                    
                </div>
{% endblock %}