{% extends "private.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
            	<div class="side-body padding-top">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Profiili: {{user_logged_in.account}}</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                	<form action="{{base_path}}/profile/edit" method="post">
	                                	<div class="form-group">
		                                    <div class="sub-title">Etunimi</div>
		                                    <div>
		                                        <input type="text" class="form-control" name="first_name" value="{{user_logged_in.first_name}}" />
		                                    </div>
		                                
		                                    <div class="sub-title">Sukunimi</div>
		                                    <div>
		                                        <input type="text" class="form-control" name="last_name" value="{{user_logged_in.last_name}}" />
		                                    </div>
		                                
		                                    <div class="sub-title">Puhelin</div>
		                                    <div>
		                                        <input type="text" class="form-control" name="phone" value="{{user_logged_in.phone}}" />
		                                    </div>
		                                
		                                    <div class="sub-title">Salasana (tyhjä: ei muuteta)</div>
		                                    <div>
		                                        <input type="password" class="form-control" name="password" value="" />
		                                    </div>
	                                    </div>
	                                    {{forms.save_cancel_buttons()}}
                                	</form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
{% endblock %}