{% extends "private.html" %}
{% block content %}
            	<div class="side-body padding-top">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Profiili</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                	<form action="#" method="post">
                                	<div class="form-group">
                                
                                    <div class="sub-title">Etunimi</div>
                                    <div>
                                        <input type="text" class="form-control" value="etu" />
                                    </div>
                                
                                    <div class="sub-title">Sukunimi</div>
                                    <div>
                                        <input type="text" class="form-control" value="suku" />
                                    </div>
                                    
                                    </div>
                                    <div class="form-group">
                                            <button type="submit" class="btn btn-default">Tallenna</button>
                                    </div>
                                    
                                	</form>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
{% endblock %}